* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    text-align: center;
    width: 70%;
    border: 1px solid black;
    margin: auto;
    padding: 50px 0 50px;
    background-color: azure;
}

button {
    margin: 20px 0 20px 0 ;
    margin-right: 20px;
    text-align: center;
}

button a {
    text-decoration:none !important;
    color: white;
}


